.brands {
    padding: 0 2rem;
}

.brands > div {
    border: 1px solid #e0e0e6;
    border-radius: 16px;
}

.brands .mySwiper .swiper-slide {
    border-right: 1px solid #e0e0e6;
}

.brands .mySwiper .swiper-slide img {
    width: 100px !important;
    height: 100px !important;
    margin: auto;
}